{% extends 'base.html' %}
{% block title %}Авторы на которых вы подписаны{% endblock %}
{% load cache %}
  {% block content %}
  <div class="container py-5">
    <h1> Авторы на которых вы подписаны </h1>
    {% include 'posts/includes/switcher.html' %}
    {% for post in page_obj %}
    {% include 'posts/includes/post_list.html' %}
    {% if post.group %}
      <a href="{% url 'group_posts:group_list' post.group.slug %}"> Все записи группы</a>
      {% endif %} 
        {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    {% include 'posts/includes/paginator.html' %}
  </div>
  {% endblock %}